@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  HEADER*/

.nav-bar{
    background-color: #072752;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.6875rem;
}


.nav-item{
    list-style: none;
    transition: all 0.3s;
}

.nav-item:hover{
    transform: scale(1.2);
}

.nav-item a{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Rubik, sans-serif;
    color: white;
    transition: all 0.3s;
}

.nav-item a:hover{
    color: yellow;
    text-decoration: underline;
}

.nav-ul{
    display: flex;
    gap: 60px; 
}

.nav-bar img{
    width: auto;
    height: 4.375rem;
    transition: all 0.3s;
}

.nav-bar img:hover{
    transform: scale(1.2);
}

.nav-logo{
    cursor: pointer;
    position: relative;
    right: 18.75rem;
}

.nav-logo-1{
    height: 4.375rem;
    width: 100%;
}

.bg-c{
    background-color: #072752;
}

/* MAIN */


.contenedor-principal{
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/banner2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
    align-items: center;
    justify-content: center;
    background-position: 100%;
}


.contenedor-principal h1{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.25rem;
    font-family: Roboto, sans-serif;
}

.contenedor-principal p{
    font-size: 1.25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.ctn-inicio{
    width: 56.25rem;   
}



.contenedor-secundario{
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    width: 100%;
    background-color: #080E26;
    align-items: center;
    justify-content: center;
    height: 46.875rem;
} 
.contenedor-secundario h2{
    font-size: 2.8125rem;
    font-family: Rubik, sans-serif;
    color: white;
    margin-bottom: 1.25rem;
}

.contenedor-secundario p{
    color: white;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.ctd-titulo{
    width: 56.25rem;
}

.ctd-parrafos{
    margin-top: 1.25rem;
    display: grid;
    justify-content: center;
    gap: 1.25rem;
    grid-template-columns: repeat(2, 23.625rem);
    grid-template-rows: repeat(2, 12.5rem);
    grid-template-areas:
    "item1 item2"
    "item3 item4"


    ;
}

.ctd-parrafos h2{
    color: white;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

.item{
    background-color: #2A3659;
    padding: 1.25rem;
    border-radius: 1.25rem;
}


.contenedor-tercero{
    background-image: url("../assets/img/banner4.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


.ctd-article{
    display: grid;
    place-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(2, 27.625rem);
    grid-template-rows: repeat(2, 15.5rem);
    grid-template-areas: 
    
    "item-1 item-1"
    "item-2 item-3"
    
    ;
}

.item-1{
    grid-area: item-1;
    border-radius: 3.125rem 3.125rem 0 0;
}

.item-2{
    grid-area: item-2;
    border-radius: 0 0 0 3.125rem;
}

.item-3{
    grid-area: item-3;
    border-radius: 0 0 3.125rem 0;
}


.item-secu{
    height: 18.875rem;
    color: white;
    background-color: #080E26;
    overflow: hidden;
    padding: 3.125rem;
}

.item-secu h3{
    margin-bottom: 1.25rem;
}

.item-secu h4{
    margin-bottom: 1.25rem;
}

.item-secu p{
    font-size: 1.125rem;
}


.contenedor-tercero h3{
    font-size: 3.125rem;
}

.contenedor-tercero h4{
    font-size: 2.5rem;
}


.contenedor-principal-b{
    display: flex;
    background-image: url("../assets/img/banner-b1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.contenedor-principal-b h1{
    font-size: 2.5rem;
    color: white;
    margin-left: 1.875rem;
    font-family: Roboto;
}

.contenedor-secundario-b-t{
    width: 100%;
    height: 100%;
    margin: .625rem auto;
    padding: 6.25rem;
}


.contenedor-secundario-b-t h2{
    font-size: 2.8125rem;
    font-family: Rubik;
    color: white;
    margin-bottom: 1.25rem;
}

.contenedor-secundario-b-t p{
    color: white;
    font-size: 1.25rem;
}

.contenedor-secundario-b{
    display: flex;
    width: 100%;
    height: 31.25rem;
    justify-content: space-evenly;
}

.fondo-b{
    background-color: #474b4e;
}



.contenedor-secu-b-p{
    background-color: #080E26;
    width: 65.5rem;
    height: 100%;
    border-radius: 1.875rem;
    margin: 2.5rem auto;
    padding: 1.25rem;
}
.ctn-secu div img{
    width: 100%;
    margin-bottom: 1.5625rem;
    transition: all 0.3s;
    border-radius: 1.875rem;
}

.ctn-secu div img:hover{
    transform: scale(1.2);
    filter: opacity(0.7);
}

.ctn-secu{
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
}


.ctn-secu h3{
    font-size: 1.5625rem;
    margin-bottom: .625rem;
}

.contenedor-principal-c h1{
    font-size: 2.5rem;
    color: white;
    margin-left: 1.875rem;
    font-family: Roboto;
    text-align: center;
    padding-top: 1.875rem;
}

.fondo-c{
    background-color: #080E26;
}

.contenedor-principal-n h1{
    font-size: 2.5rem;
    color: #034C8C;
    margin-left: 1.875rem;
    font-family: Roboto;
    text-align: center;
}

.contenedor-secundario-n h2{
    font-size: 2.8125rem;
    font-family: Rubik;
    text-align: center;
    color: blue;
    padding: 1.25rem;
}

.ctn-c{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 6.25rem;
}

.ctn-c h5{
    color: white;
}

.ctn-c p{
    color: white;
}

.contenedor-secundario-n p{
    font-size: 1.6875rem;
}

.card{
    background-color: #080E26;
}


.contenedor-principal-t h1{
    font-size: 2.5rem;
    color: #034C8C;
    margin-left: 1.875rem;
    font-family: Roboto;
    text-align: center;
}


.card-container {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    height: 31.25rem;
    justify-content: space-evenly;
    align-items: center;
}

.card1 {
    width: 18.75rem;
    height: 25rem;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 20px 20px 5px gray;
    background-color: lightblue;
}

.card1 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 div video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 div{
    width: 100%;
    height: 18.75rem;
}


.formulario{
    margin: 0 auto;
    padding: 6.25rem;
    color: white;
}





/* Footer */

.nav-ul-footer{
    display: flex;
    gap: 60px; 
    list-style: none;
    justify-content: center;
    padding: 1.875rem;
}

.nav-item-f a{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Rubik;
    color: white;
    
}


.nav-bar-footer p{
    color: white;
    text-align: center;
}


.nav-bar-footer{
    background-color: #034C8C;
}


