* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #072752;
}

.section-principal {
  background-image: url("../assets/img/banner2.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 6.25rem;
}
.section-principal div {
  width: 46.875rem;
  margin: 0 auto;
}
.section-principal div h1 {
  font-size: 3.125rem;
  color: white;
  padding: 1.25rem;
  text-align: center;
}
.section-principal div p {
  font-size: 1.5625rem;
  color: white;
}

.section-secundaria {
  display: flex;
  flex-wrap: wrap;
  background-color: #080E26;
  color: white;
  padding: 5rem;
  width: 100%;
}
.section-secundaria div {
  display: grid;
  height: 100%;
  margin: 0 auto;
  gap: 1.25rem;
  grid-template-columns: repeat(2, 37.25rem);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "item1 item2" "item3 item4";
}
.section-secundaria div article {
  display: flex;
  flex-wrap: wrap;
  background-color: #2A3659;
  padding: 1.25rem;
  border-radius: 1.25rem;
  height: 100%;
  width: 100%;
  margin-top: 2.5rem;
}
.section-secundaria div article h3 {
  font-size: 2.5rem;
}
.section-secundaria div article p {
  font-size: 1.875rem;
}

.item0 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.item0 h2 {
  font-size: 3.125rem;
}
.item0 p {
  font-size: 1.5625rem;
}

.section-tercearia {
  display: flex;
  background-image: url("../assets/img/banner4.png");
  background-position: 100%;
  background-size: cover;
  padding: 3.125rem;
}

.sct-trc-main {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5625rem;
  background-color: #080E26;
  color: white;
  border-radius: 1.25rem;
  gap: 2.5rem;
}
.sct-trc-main article {
  display: flex;
  flex-direction: column;
}
.sct-trc-main article h3 {
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
}
.sct-trc-main article p {
  font-size: 1.5625rem;
}

.sct-trc-main-2 {
  display: flex;
  gap: 2.5rem;
}
.sct-trc-main-2 article {
  display: flex;
}
.sct-trc-main-2 article h4 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
.sct-trc-main-2 article p {
  font-size: 1.875rem;
}

.section-principal-b {
  background-image: url("../assets/img/banner-b1.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  padding: 6.25rem;
  color: white;
  display: flex;
  height: 31.25rem;
}
.section-principal-b h1 {
  margin: 0 auto;
  font-size: 2.5rem;
}

.section-secundaria-b {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  color: white;
  background-color: #474b4e;
  justify-content: center;
}
.section-secundaria-b section {
  width: 75rem;
  background-color: #080E26;
  border-radius: 50px;
  padding: 1.5625rem;
}
.section-secundaria-b section article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.875rem;
}
.section-secundaria-b section h2 {
  font-size: 2.5rem;
}
.section-secundaria-b section p {
  font-size: 1.5625rem;
}

.shadow-pop-tr {
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}
.contenedor-principal-c h1 {
  font-size: 2.5rem;
  color: white;
  margin-left: 1.875rem;
  font-family: Roboto;
  text-align: center;
  padding-top: 1.875rem;
}

.bg-c {
  background-color: #072752;
}

.nav-logo-1 {
  height: 4.375rem;
  width: 100%;
}

.formulario {
  margin: 0 auto;
  padding: 6.25rem;
  color: white;
}

.ctn-c {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 6.25rem;
}
.ctn-c div {
  background-color: #080E26;
}

.card-body {
  color: white;
}

.fondo-c {
  background-color: #080E26;
}

.contenedor-base {
  display: flex;
  margin: 0 auto;
  gap: 9.375rem;
  justify-content: center;
  margin: 3.125rem;
}
.contenedor-base article {
  display: flex;
  flex-wrap: wrap;
  background-color: #080E26;
  padding: 3.125rem;
  border-radius: 1.875rem;
}

.section-nosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #2A3659;
  color: white;
  margin: 0 auto;
  padding: 2.5rem;
}
.section-nosotros h1 {
  font-size: 3.125rem;
  color: white;
  margin: 1.25rem;
  text-align: center;
}
.section-nosotros p {
  font-size: 1.5625rem;
  margin: 1.25rem;
  align-self: center;
}

.section-tutorial {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 3.125rem;
  color: white;
  background-color: #080E26;
  padding: 1.25rem;
}
.section-tutorial h1 {
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
}
.section-tutorial ol {
  list-style: none;
}
.section-tutorial ol li {
  font-size: 1.5625rem;
  background-color: #072752;
  padding: 1.875rem;
  border-radius: 1.875rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem white;
  transition: all 0.3s;
  margin-bottom: 3.75rem;
}
.section-tutorial ol li:hover {
  transform: scale(1.2);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 2.1875rem;
  flex-wrap: wrap;
}
.nav-bar li {
  font-size: 1.7rem;
  padding: 1.25rem;
  transition: all 0.3s;
}
.nav-bar li:hover {
  transform: scale(1.2);
}
.nav-bar li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.nav-bar li a:hover {
  color: yellow;
}

.nav-bar-f {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
}
.nav-bar-f ul {
  display: flex;
  list-style: none;
  gap: 6.25rem;
  flex-wrap: wrap;
}
.nav-bar-f li {
  font-size: 1.7rem;
  padding: 1.25rem;
  transition: all 0.3s;
}
.nav-bar-f li:hover {
  transform: scale(1.2);
}
.nav-bar-f li a {
  color: white;
  transition: all 0.3s;
}
.nav-bar-f li a:hover {
  color: yellow;
}

.ctd-cards-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ctd-cards-b article {
  width: 18.75rem;
}
.ctd-cards-b article h3 {
  font-size: 2.1875rem;
}
.ctd-cards-b article p {
  font-size: 1.5625;
  padding: 0.625rem;
}
.ctd-cards-b article img {
  width: 12.5rem;
  margin-bottom: 1.5625rem;
  transition: all 0.3s;
  border-radius: 1.875rem;
}
.ctd-cards-b article img:hover {
  filter: opacity(0.7);
}

.card-nosotros {
  width: 35.75rem;
  height: 25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 1px 1px 0.625rem white;
  margin: 0 auto;
}
.card-nosotros div iframe {
  width: 100%;
  height: 25rem;
}

@media (max-width: 1024px) {
  .section-secundaria div {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "item1" "item2" "item3" "item4";
  }
}
@media (max-width: 768px) {
  .section-principal div {
    width: 100%;
  }
  .section-principal div h1 {
    font-size: 3.125rem;
    position: relative;
    right: 1.25rem;
  }
  .section-principal div p {
    font-size: 1.25rem;
  }
  .section-principal div article h3 {
    font-size: 1.125rem;
  }
  .section-principal div article p {
    font-size: 1rem;
  }
  .item0 h2 {
    font-size: 1.875rem;
  }
  .item0 p {
    font-size: 1.125rem;
  }
  .nav-bar ul li a {
    font-size: 1.25rem;
  }
  .sct-trc-main article h3 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }
  .sct-trc-main article p {
    font-size: 1.25rem;
  }
  .sct-trc-main-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  .sct-trc-main-2 article h4 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .sct-trc-main-2 article p {
    font-size: 1.125rem;
  }
  .ctd-cards-b {
    display: flex;
    flex-wrap: wrap;
  }
  .ctd-cards-b article {
    width: 100%;
  }
  .section-secundaria div article h3 {
    font-size: 1.5625rem;
  }
  .section-secundaria div article p {
    font-size: 1.25rem;
  }
}
@media (max-width: 320px) {
  .section-secundaria div article p {
    width: 9.375rem;
  }
  .section-secundaria .item0 p {
    width: 14.375rem;
  }
  .section-principal div h1 {
    font-size: 1.875rem;
  }
  .section-principal div p {
    font-size: 1.25rem;
    width: 12.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
