@media (max-width: 768px){
    .section-principal{
        padding: 2.5;
        div{
            width: 100%;
            h1{
                font-size: map-get($size, xl);
            }
            p{
                font-size: 1.0625rem;
            }
            article{
                h3{
                    font-size: 1.125rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    .item0{
        h2{
            font-size: 1.5625rem;
        }
        p{
            font-size: 1.125rem;
        }
    }
    .nav-bar{
        ul{
            li{
                a{
                    font-size: 1.25rem;
                }
            }
        }
    }
    .sct-trc-main{
        article{
            h3{
                font-size: 1.875rem;
                margin-bottom: .625rem;
            }
        }
    }
    .sct-trc-main-2{
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        article{
            h4{
                font-size: 1.125rem;
                margin-bottom: 1.25rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .ctd-cards-b{
        display: flex;
        flex-wrap: wrap;
        article{
            width: 100%;
        }
    }

}