@media (max-width: 320px){
    .section-secundaria{
        div{
            article{
                p{
                    width: 9.375rem;
                }
            }
        }
        .item0{
            p{
                width: 14.375rem;
            }
        }
    }
        .section-principal{
            div{
                h1{
                    font-size: map-get($size, lg );
                }
                p{
                    font-size: 1.25rem;
                    width: 12.5rem;
                }
            }
        }
}