@media (max-width: 425px){
    .contenedor-base{
        width: 12.5rem;
        article{
            width: 15.625rem;
            p{
                width: 9.375rem;
            }
        }
    }
    .card-nosotros{
        box-shadow: none;
        width: 6.25rem;
        height: .3125rem;
        div{
            height: .625rem;
            iframe{
                display: none;
            }
        }
    }
    .nav-bar{
        display: none;
        ul{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 3.125rem;
            left: 0rem;
            width: 100%;
            background-color: #333;
            z-index: 1;
            li{
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
    .button{
        display: block;
        font-size: 2.5rem;
        color: white;
        cursor: pointer;
    }
    #toggle{
        display: none;
        transition: all 0.3s;
    }
    #toggle:checked + .button + .nav-bar{
        display: block;
    }

}