@media (max-width: 320px){
    .section-secundaria{
        div{
            article{
                p{
                    width: 9.375rem;
                }
            }
        }
        .item0{
            p{
                width: 14.375rem;
            }
        }
    }
        .section-principal{
            div{
                h1{
                    font-size: map-get($size, lg );
                }
                p{
                    font-size: 1.25rem;
                    width: 12.5rem;
                }
            }
        }
        .contenedor-base{
            margin: 50px 0;
            width: 12.5rem;
            article{
                width: 15.625rem;
                p{
                    width: 9.375rem;
                }
            }
        }
        .section-nosotros{
            h1{
                width: 12.5rem;
            }
            p{
                width: 15.625rem;
            }
        }
        .card-nosotros{
            box-shadow: none;
            width: 6.25rem;
            div{
                iframe{
                    display: none;
                }
            }
        }
}


