$header-color-bg: #072752;
$color-nav-hover: yellow;
$section-principal-bgimg: url("../assets/img/banner2.png");
$section-text-h1: rgba(0, 0, 0, 0.343);
$bg-section-secundaria-index: #080E26;
$bg-items: #2A3659;
$section-tercera-bgimg: url("../assets/img/banner4.png");
$sct-tcr-mian-bg: #080E26;
$bg-c: #072752;
$card-bg: #080E26;
$section-principal-b-bg: url("../assets/img/banner-b1.png");
$section-secu-b-bg: #474b4e;
$section-secu-b2-bg: #080E26;
$section-tutorial-bg: #080E26;
$section-tutorial-li: #072752;
$section-nosotros-bg: #2A3659;
$contenedor-texto-bg: #080E26;
