.navbar-nav{
    transform: none;
        li{
            transform: none;
            a{
                transform: none;
            }
            }
        }



.nav-bar{
    @include flex(row, wrap, center, center, none);
    ul{
        @include nav-ul(none, 2.1875rem, wrap)}
        li{
        font-size: 1.7rem;
        padding: 1.25rem;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.2);
        }
            a{
            text-decoration: none;
            color: white;
            transition: all 0.3s;
            &:hover{
                color: yellow;
            }
    }
}
}

.nav-bar-f {
    @include flex(row, wrap, center, center, none);
    ul{
        @include nav-ul(none, 6.25rem, wrap)}
        li{
        font-size: 1.7rem;
        padding: 1.25rem;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.2);
        }
            a{
            color: white;
            transition: all 0.3s;
            &:hover{
                color: yellow;
            }
    }
}
}